
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="./assets/images/logo.png" width="100" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="welcome">В начало <span class="sr-only">(current)</span></a>
            </li>
           <!--<li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>--> 
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownDep" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Подразделения
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownDep">
                <a class="dropdown-item" routerLink="/slrdepartments">Список</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/slrdepartments/add">Добавить новый</a>
              </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownKadr" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Физические лица
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownKadr">
                  <a class="dropdown-item" routerLink="/slrkadrs">Список</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" routerLink="/slrkadrs/add">Добавить новый</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPrize" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Подарки
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownPrize">
                    <a class="dropdown-item" routerLink="/usrslrpaymentprizes">Список</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/usrslrpaymentprizes/add">Добавить новый</a>
                  </div>
              </li>
           <!-- <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>-->
           
            
          </ul>
          <!--<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>-->
        </div>
      </nav>
</div>
