<div class="container-fluid">
    <div class="content xd-container">
        <h2>Список подразделений</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>SNM</th>
                        <th>Smnemocode</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let slrdepartment of slrdepartments | async">
                    <td>{{slrdepartment.id}}</td>
                    <td><a class="slrdepartmentFullName" routerLink="/slrdepartments/{{slrdepartment.Id}}" 
                            routerLinkActive="active" (click)="onSelect(slrdepartment)">
                            {{slrdepartment.snm}}
                        </a>
                    </td>
                    <td>{{slrdepartment.smnemocode}}</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <button class="btn btn-primary" (click)="addSlrdepartment()">Добавить</button>
            </div>
        </div>
    </div>
</div>
<!--
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Departments list</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>SNM</th>
                    <th>Smnemocode</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let slrdepartment of slrdepartments | async">
                    <td>{{slrdepartment.id}}</td>
                    <td>{{slrdepartment.snm}}</td>
                    <td>{{slrdepartment.smnemocode}}</td>
                    <td>
                        <button (click)="deleteSlrdepartment(slrdepartment.id)" class="btn btn-danger">Delete</button>
                        <button (click)="slrdepartmentDetails(slrdepartment.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
-->
